{% extends 'layouts/base.html' %}
{% load i18n %}

{% block page %}
{% block content %}
<div class="container">
	<div class="block">
		<a href="{% url 'recruiting:recruit-register' %}">{% trans 'Enter as a recruit' %}</a>
		<br/>
		<a href="{% url 'recruiting:sith-entry' %}">{% trans 'Enter as a sith' %}</a>
	</div>
	<div class="block">
		<a href="{% url 'recruiting:siths-with-many-sh' %}">{% trans 'Siths with more than one shadow hands' %}</a>
	</div>
</div>

{% endblock %}
{% endblock %}
