{% extends 'layouts/recrut.html' %}
{% load i18n %}

{% block content %}
<div class="block">
	<h1>{% trans 'Choose yourself from the list:' %}</h1>
</div>
<div class="block">
	<ul>
	{% for recruit in recruits %}
		<li><a href="{% url 'recruiting:recruit-personal' recruit.id %}">
			<span>{{ recruit.name }}</span> (<span>{{ recruit.email }}</span>)
			{% trans 'from planet' %}
			<span>"{{ recruit.planet }}"</span>
		</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
