{% extends 'layouts/recrut.html' %}
{% load i18n %}

{% block content %}
{% if messages %}
<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
</ul>
{% endif %}

<div class="block">
	<h1>{% trans 'You enter as' %}: {{ recruit.name }}</h1>
	{% if recruit.answered_questions >= recruit.QUESTIONS_LIMIT %}
		<p>
			{% blocktrans %}You answered to all questions, your master gives you.
				Now you just need to wait, when he choose you.{% endblocktrans%}
		</p>
	{% elif recruit.answered_questions > 0 %}
		<p>{% trans 'The count of questions, You answered is' %}: {{ recruit.answered_questions }}</p>
		<p>
			<a href="{% url 'recruiting:recruit-questions' recruit.id %}">{% trans 'Continue' %}</a>
		</p>
	{% else %}
		<p>
			<a href="{% url 'recruiting:recruit-questions' recruit.id %}">{% trans 'To start answering questions' %}</a>
		</p>
	{% endif %}
</div>

<div class="block">
	<ul>
	{% for recruit in recruits %}
		<li><a href="{% url 'recruiting:recruit-personal' recruit.id %}">
			<span>{{ recruit.name }}</span> (<span>{{ recruit.email }}</span>)
			{% trans 'from planet' %}
			<span>"{{ recruit.planet }}"</span>
		</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
