{% extends 'layouts/recrut.html' %}
{% load i18n %}

{% block content %}
<div class="block">{% trans 'You entered as' %}: {{ recruit.name }}</div>
<div class="block">
	<h1>{% trans 'Answer this question:' %}</h1>
	<form method="post">
		<div>{{ question.text }}</div>
		{% for hidden in answer_form.hidden_fields %}{{ hidden }}{% endfor %}
		{% csrf_token %}
		{% for field in answers_form %}
			{{ field }}
		{% endfor %}
		<input type="submit" value="{% trans 'Answer' %}">
	</form>
</div>
{% endblock %}
