{% extends 'layouts/recrut.html' %}
{% load i18n %}

{% block content %}
<div class="block">
	<h1>{% trans 'Complete this registration form:' %}</h1>
	<form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="{% trans 'Register as a recruit' %}">
	</form>
</div>
<div class="block">
	<a href="{% url 'recruiting:recruits' %}">
		{% trans 'If you are already registered, choose yourself from the list.' %}
	</a>
</div>
{% endblock %}