{% extends 'layouts/sith.html' %}
{% load i18n %}

{% block content %}
<div class="block">
	<h1>{% trans 'Choose youself:' %}</h1>
	<ul>
	{% for sith in siths %}
		<li><a href="{% url 'recruiting:sith-personal' sith.id %}">
			<span>{{ sith.name }}</span>
			{% trans 'from planet' %}
			<span>"{{ sith.planet }}"</span>
		</a> ({% trans 'Shadow hands:' %} {{ sith.shadow_hands }})</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
