{% extends 'layouts/sith.html' %}
{% load i18n %}

{% block content %}
{% if messages %}
<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
</ul>
{% endif %}

	<div class="block">
	<h1>{% trans 'Your personal page' %}, {{ sith.name }}</h1>
	<h2>{% trans 'New recruits in planet' %} {{ sith.planet.name }}:</h2>
	<ul>
	{% for recruit in recruits %}
		<li><a href="{% url 'recruiting:sith-recruit' sith.id recruit.id %}">{{ recruit.name }}</a></li>
	{% endfor %}
</ul>
</div>

<div class="block">
	<h2>{% trans 'Your students' %}:</h2>
	<ul>
	{% for student in students %}
		<li><a href="{% url 'recruiting:sith-student' sith.id student.id %}">{{ student.name }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}
