{% extends 'layouts/sith.html' %}
{% load i18n %}

{% block content %}
<div class="block">
	<h1>{% trans 'A recruit' %}: {{ recruit.name }}</h1>
	<p>{% trans 'Exam answers:' %}</p>
	{% for a in recruit.answers.all %}
		<div>
			<p>Question: {{ a.question.text }}</p>
			<p>Answer: {{ a.answer.text }}</p>
		</div>
	{% endfor %}

<form method="post">
	{% csrf_token %}
	<button>{% trans 'Take as a student' %}</button>
</form>

</div>
{% endblock %}
