{% extends 'layouts/sith.html' %}

{% block content %}
<div class="block">
	<h1>This is your student: {{ recruit.name }}</h1>
	<p>
		<span>You can stop teaching this one.</span>
		<span>Note: all excluded students will be exterminated!1!</span>
	</p>

	<form method="post">
		{% csrf_token %}
		<button>Exclude and exterminate</button>
	</form>
</div>
{% endblock %}
