{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Sith recruting{% endblock %}</title>
	{% block base_css %}
		<link href="{% static 'recruiting/css/base.css' %}" rel="stylesheet" type="text/css"/>
	{% endblock %}
	{% block css %}{% endblock %}
</head>
<body>
<div class="page" id="page">
{% block page %}{% endblock %}
</div>

{% block javascript %}{% endblock %}
</body>
</html>